<h2>Renewing: <?php echo $email;?></h2>

<form action="" method="POST">
    <!-- Password input -->
    <div class="form-outline mb-3">
        <label class="form-label font-weight-bold" for="form3Example4">Password*</label>
        <input pattern="[^\s]{<?php echo $VAL_USER->min_password.','.$VAL_USER->max_password;?>}" required title="At least 8 not whitespace characteres" name="password"
            type="password" id="form3Example4"
            class="form-control <?php if(isset($error) && $error && !isset($_POST['password'])){echo 'border-danger';}?>"
            placeholder="********"
            value="<?php echo isset($_POST['password']) ? htmlspecialchars($_POST['password']) : '' ?>" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-3">
        <label class="form-label font-weight-bold" for="form3Example4">Confirm your Password*</label>
        <input pattern="[^\s]{<?php echo $VAL_USER->min_password.','.$VAL_USER->max_password;?>}" required title="At least 8 not whitespace characteres" name="password_confirm"
            type="password" id="form3Example5"
            class="form-control <?php if(isset($error) && $error && !isset($_POST['password_confirm'])){echo 'border-danger';}?>"
            placeholder="********"
            value="<?php echo isset($_POST['password_confirm']) ? htmlspecialchars($_POST['password_confirm']) : '' ?>" />
    </div>

    <!-- Submit button -->
    <button name="type" value="password_change" type="submit" class="btn btn-primary float-right btn-md">Confirm</button>

</form>
</div>
